{{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template loca_tableajax/settings
    Template for ajax table.

    Context variables required for this template:
    * expressions - List of expressions containing index, name, expression and value

    Example context (json):
    {
        "data": [
            { "id": "1", "eventname": "Event Name", "component": "Component", "action": "Action", "target": "Target" }
        ]
    }
}}
{{!
    Setting devicedetectregex.
}}
<div class="container-fluid" id="table_tableajax">
    <div class="row-fluid">
        <div class="col">{{#str}}tableheader_id, local_tableajax{{/str}}</div>
        <div class="col">{{#str}}tableheader_eventname, local_tableajax{{/str}}</div>
        <div class="col">{{#str}}tableheader_component, local_tableajax{{/str}}</div>
        <div class="col">{{#str}}tableheader_action, local_tableajax{{/str}}</div>
        <div class="col">{{#str}}tableheader_target, local_tableajax{{/str}}</div>
    </div>
    <div id="table_tableajax_body">
        {{> local_tableajax/table_body}}
    </div>
    <div>
        <div class="row-fluid">
            <div class="col">
                <button class="btn btn-primary" data-action="previous" disabled>
                    {{#str}}tableheader_previous, local_tableajax{{/str}}
                </button>
                <button class="btn btn-secondary" data-action="next">
                    {{#str}}tableheader_next, local_tableajax{{/str}}
                </button>
            </div>
        </div>
    </div>
</div>
<input type="hidden" name="limit" id="limit" value="10">
<input type="hidden" name="offset" id="offset" value="0">